html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
    margin-left:auto;
    margin-right:auto;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.card {
    padding: 4px;
    margin:10px;
}

.card-block{
    color: black;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    padding: 0 15px;
}
p
{
    margin-bottom: 0px;
}
.alt-navbar
{
    min-width: 1300px;
    padding: 10px;
}
.jumbotron
{
    padding-top: 6em;
}

input {
    outline: none;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}


input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;



    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}
.nav-link
{
    color: white;
}
.nav-link:hover{
    color: rgba(255,255,255,.5);
}
a{
    color: black;
}

.login-register
{
    color: grey;
    font-style: italic;
}

.centerinlog{
    max-width: 300px;
    margin-right: -300px;
}

.btn-primary{
    background-color: #343a40!important;
    border-color: #343a40!important;
}


/*CMS css*/

input[type='file'] 
{
    color: transparent;
}
.file 
{
    position: absolute;
    margin-left: 227px;
    margin-top: 104px;
}
.alert
{
    width: 100%;
}