/nbproject/private/
# dbConnect niet uploaden naar git
functions/dbConnect.php
index.html
functions/dbConnect.php
functions/dbConnect.php
images/artikelen/sky_clouds_cloudy_sunset_117602_1366x768.jpg
